<!DOCTYPE html>
<html>
<head>
  <title>FS Coding</title>
<link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
<link rel="stylesheet" href="/static/main/top.css" type="text/css">
<link rel="stylesheet" href="/static/main/footler.css" type="text/css">
<link rel="stylesheet" href="/static/main/menu.css" type="text/css">
<link rel="stylesheet" href="/static/contact/contact.css" type="text/css">
<link rel="stylesheet" href="/static/error.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="topnav">
  <a class="active" href="{{ url_for('login') }}">login</a>
</div>
</head>
    </html>
  </body>
</html>
</table>
<body>
  <center>
    <h1>Thank you for applying this course currently your account is disabled.</h1>
    <h3>Please follow steps below to start the Free course</h3>
    <a href="https://www.linkedin.com/in/farkhod-sadykov/"><h4>My Linkedin account</h4></a>
    <a href="https://vk.com/badboy196"><h4>My Vk account</h4></a>
    <h4>My Phone number 8727720715</h4>
  </center>
</body>

<footer class="footer">
  <p>&copy; FS Coding Class 2018</p>
</footer>

</html>
